<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="contextSource" class="org.springframework.ldap.core.support.LdapContextSource">
        <property name="url" value="ldap://10.200.130.123:389"/>
        <property name="base" value="dc=xdf,dc=cn"/>
        <property name="userDn" value="cn=root"/>
        <property name="password" value="filenet"/>
         <property name="referral" value="follow"/>
        <property name="baseEnvironmentProperties">
            <map>
                <!-- Three seconds is an eternity to users. -->
                <entry key="com.sun.jndi.ldap.connect.timeout" value="3000" />
                <entry key="com.sun.jndi.ldap.read.timeout" value="3000" />
                <entry key="com.sun.jndi.ldap.connect.pool" value="true"/>

                <entry key="com.sun.jndi.ldap.connect.pool" value="true"/>
                <entry key="com.sun.jndi.ldap.connect.pool.initsize" value="1"/>
                <entry key="com.sun.jndi.ldap.connect.pool.maxsize" value="20"/>

                <!-- Explained at http://docs.oracle.com/javase/jndi/tutorial/ldap/security/auth.html -->
                <entry key="java.naming.security.authentication" value="simple" />
            </map>
        </property>
    </bean>

    <bean id="ldapTemplate" class="org.springframework.ldap.core.LdapTemplate">
        <constructor-arg ref="contextSource"/>
    </bean>

</beans>