<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-lazy-init="true">


    <bean id="bamMaterialService" class="com.kuxue.service.bam.BamMaterialService">
        <property name="sourceMap">
            <map>
                <entry key="materialAttmainService">
                    <ref bean="materialAttmainService"></ref>
                </entry>
                <entry key="materialQuestionsService">
                    <ref bean="materialQuestionsService"></ref>
                </entry>
                <entry key="materialTaskService">
                    <ref bean="materialTaskService"></ref>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ConcurrentTaskExecutor">
        <!--<property name="corePoolSize" value="10"/>
        <property name="maxPoolSize" value="500"/>
        <property name="queueCapacity" value="1000"/>
        <property name="keepAliveSeconds" value="300"/>
        <property name="rejectedExecutionHandler">
            <bean class="java.util.concurrent.ThreadPoolExecutor$CallerRunsPolicy"/>
        </property>-->
    </bean>

    <!-- 以annotation方式配置Aop -->

    <!--
    <bean id="accessArgAspect" class="com.kuxue.service.bam.aspect.SourceAspect"/>
    <aop:config proxy-target-class="false">
        <aop:aspect order="2" id="aspect" ref="accessArgAspect">
            <aop:after method="saveBamScore"
                       pointcut="execution(* com.kuxue.service.bam.process.SourceNodeService.saveSourceNode(..))"/>
        </aop:aspect>
    </aop:config>
    -->
    <!--<aop:aspectj-autoproxy proxy-target-class="true"/>-->

    <bean id="accessArgAspect" class="com.kuxue.aspect.SourceAspect"/>
    <bean id="attMainAspect" class="com.kuxue.aspect.AttMainAspect"/>
    <bean id="attMainTask" class="com.kuxue.task.AttMainTask"></bean>

</beans>
