@charset "utf-8";
/* CSS Document */
body{margin:0;padding:0px;font-size:14px;line-height:20px;color:#000000;}
body,input,button{font-family: "Helvetica Neue","Hiragino Sans GB", "Microsoft Yahei", Tahoma, Arial, STHeiti,
    sans-serif;}
input{border:1px solid #333;background-color:#fff;line-height:16px;padding:1px;}
h1{font-size:14px;font-weight:normal;text-align:center;margin:15px 0 20px;}
.big-imgDiv{margin:10px auto 0;background-color:#efefef;line-height:0;}
.big-imgDiv img{max-width:9999px;}
.previewImg{text-align:center}
.min-imgDiv{overflow:hidden;margin:0 auto;}
.min-imgDiv img{max-width:9999px;}
.imgshow{overflow:hidden;margin-right:20px;display:inline-block;vertical-align:bottom;}
.imgshow img{max-width:9999px;}
.img180,.img180 img{width:180px;height:180px;}
.img70,.img70 img{width:70px;height:70px;}
.img45,.img45 img{width:45px;height:45px;}
.img36,.img36 img{width:36px;height:36px;}
.cutFaceWrap{padding:0 70px;}
.facePreview{margin-bottom:60px;}
